/*Регистрация и вход*/
.login {
    margin-left: 900px;
    margin-top: 300px;
    list-style-type: none;
    width: 190px;
}

.registration {
    margin-left: 900px;
    margin-top: 250px;;
    list-style-type: none;
    width: 190px;
}


/*Левая панель главная страница*/
.aside_left {
    float: left;
    width: 11.5%;
    top: 0;
    bottom: 0;
    left: 0;
    background: black;
    border-right: 4px solid orange;
    position: fixed;
    overflow-x: hidden;
    opacity: 0.95;
}

.aside-left ul {list-style: none;}
.aside_left ul a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
    transition: transform .3s ease;
}

.aside-left ul:hover, .aside_left ul a:hover {
    color: orange;
    text-decoration: none;
    transform: scale(1.09);
}

.image {
    max-width: 95%;
    object-fit: cover;
    margin-top: 40px;
    margin-left: 10px;
}

.links {
    margin-top: 130px;
}


/*Данные пользователя в левой панели*/
.register li a {
    margin-right: 2px;
    margin-left: 3px;
}
.register li {
    display: inline-block;
}
.register {
    margin-top: 230px;
    color: orange;
}


/*Создание новой заявки на обслуживание*/
.new_application {
    margin-left: 250px;
    margin-top: 15px;
}

.new_title_application {
    margin-left: 250px;
    margin-top: 10px;
}

.new_application_car {
    margin-left: 250px;
    margin-top: 10px;
    width: 250px;
}

.new_application_desc {
    margin-left: 250px;
    margin-top: 15px;
    width: 600px;
    resize: none;
}

.button_new_application {
    margin-left: 250px;
    margin-top: 15px;
    width: 200px;
}


/*Дополнение заявки мастером*/
.master_places_to_work {
    width: 350px;
}

.master_type_repair {
    width: 350px;
}

.master_parts {
    width: 350px;
}

.master_users {
    width: 350px;
}

.master_completion_time {
    width: 350px;
}

.master_application_status {
    width: 350px;
}


/*Дополнение заявки менеджером*/
.manager_description {
    width: 800px;
    height: 150px;
    resize: none;
    word-wrap: break-word;
    overflow: auto;
}

.manager_time_to_work {
    width: 250px;
}

.manager_completion_time {
    width: 250px;
}


/*Дополнение заявки рабочим*/
.worker_application_status {
    width: 240px;
}

/*Обновление заявки*/
.application_update {
    margin-left: 300px;
}

.application_update button {
    width: 170px;
}

.application_update a {
    margin-left: 10px;
    width: 150px;
}


/*Таблица всех заявок пользователей*/
.table1-success {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 88.5%;
    max-width: 88.5%;
    margin-left: auto;
}
.table1-success tr, .table1-success td {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    font-family: Helvetica, sans-serif;
    border: 1px solid orange;
    vertical-align: top;
}
.table1-success th {
    color: orange;
    background: #337AB7;
    font-weight: bold;
    border: 1px solid orange;
    text-transform: uppercase;
    text-align: center;
}
.table1-success tr:nth-child(even) {
    background: #edf7ff;
}
.table1-success td span {
    background: #337AB7;
    color: #FFF;
    display: none;
    font-size: 11px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}
@media(max-width: 768px) {
    .table1-success thead {
        display: none;
    }
    .table1-success tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .table1-success td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 88.5%;
    }
    .table1-success td span {
        display: block;
    }
}
@media(max-width: 480px) {
    .table1-success td {
        width: 88.5%;
    }
}


/*Детальный просмотр заявок*/
.detail_application {
    margin-top: 10px;
    margin-left: 250px;
}

.detail_application .alert-secondary {
    width: 850px;
    height: 200px;
    word-wrap: break-word;
    overflow: auto;
}
.detail_application .alert-dark {
    width: 370px;
}

.detail_application .alert-success {
    width: 370px;
}


/*Отступ снизу, от кнопок при детальном просмотре заявок*/
.application_update a {
    margin-bottom: 25px;
}
.application_update button {
    margin-bottom: 25px;
}


/*Пагинация на странице отображения всех заявок*/
.pagination {
    text: 16px;
    margin-left: 250px;
    display: inline-block;
}

.pagination li {
    color: black;
    padding: 1px 8px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 18px;
}

.pagination li:hover:not(.active) {background-color: orange;}

.pagination .active {
  background-color: orange;
  color: white;
}


/*Отображение всех клиентов*/
.client_all {
    width: 700px;
    margin-top: 20px;
    margin-left: 250px;
}


/*Отображение всех сотрудников*/
.employees_all {
    width: 700px;
    margin-top: 20px;
    margin-left: 250px;
}


/*Отправить уведомление клиенту о выполнении заявки, отступ слева*/
.users_resolution {
    margin-left: 278px;
}


/* Кнопка уведомления клиента о завершении работ*/
.css-modal-open {
    display: inline-flex;
    margin: 5px;
    width: 180px;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 8px;
    border-radius: 6px;
    color: #FFF;
    text-transform: uppercase;
    text: center;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #3CB371;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.css-modal-open:hover,
.css-modal-open:active,
.css-modal-open:focus {
    color: #FFF;
}
.css-modal-open:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #3CB371;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.css-modal-open:hover:before,
.css-modal-open:active:before,
.css-modal-open:focus:before {
    transform: translateX(0);
}


/*Отправка Email уведомления клиенту о завершении работ*/
.send_email_client {
    margin-right: 120px;
    margin-top: 10px;
}

.container  {
    margin-top: 15px;
    right: 70px;
}

.container h6 {
    width: 450px;
    margin-top: 15px;
}

.container a {
    width: 200px;
    margin-top: 15px;
    margin-right: 50px;
}